<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link th:href="@{/css/signin.css}" href="/css/signin.css" rel="stylesheet">

  <meta charset="UTF-8">
  <title th:text="|${pageName}|"></title>
</head>
<body class="text-center">

<div class="form-signin w-100 m-auto">
  <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>
  <h2>로그인</h2>
  <form class="form-signin w-100 m-auto" th:method="post" th:action="|@{/{loginType}/login (loginType=${loginType})}|" th:object="${userLoginRequest}">

    <div th:if="${param.error}" class="alert alert-danger" role="alert">
      Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-danger" role="alert">
      You have been logged out.
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="loginId" th:field="*{loginId}">
      <label for="loginId">아이디 </label>
    </div>
    <br/>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" th:field="*{password}">
      <label for="password">비밀번호 </label>
    </div>

    <div th:if="${#fields.hasGlobalErrors()}">
      <br/>
      <div class="error-class" th:each="error : ${#fields.globalErrors()}" th:text="${error}" />
    </div>
    <br/>
    <button class="btn btn-small btn-outline-dark" type="submit">로그인</button>
    <button class="btn btn-small btn-outline-dark" type="button" th:onclick="|location.href='@{/{loginType}/join (loginType=${loginType})}'|">회원 가입</button> <br/><br/>
  </form>
</div>
</body>
</html>

<style>
  .error-class {
    color: red;
  }
  .error-input {
    border-color: red;
  }
</style>